<ibm-header name="[Platform]" [route]="['']">
	<ibm-header-navigation>
		<ibm-header-item [route]="['sqlview']">-SQL View</ibm-header-item>
		<ibm-header-item [route]="['sqlchart']">-SQL Chart</ibm-header-item>

		<ibm-header-item [route]="['stompui']">-Stomp UI</ibm-header-item>
		<ibm-header-item [route]="['stomptable']">-Stomp Table</ibm-header-item>
		<ibm-header-item [route]="['stompinsert']">-Stomp Insert</ibm-header-item>
		<!-- <ibm-header-item [route]="['stompchart']">Stomp Chart</ibm-header-item> -->

		<ibm-header-item [route]="['jsontree']">-JSON Tree</ibm-header-item>
		<!-- <ibm-header-item [route]="['timeseries']">Timeseries</ibm-header-item> -->
		
		<ibm-header-item [route]="['zhello']">Hello</ibm-header-item>
		<ibm-header-menu title="Manage">
			<ibm-header-item>Link 1</ibm-header-item>
			<ibm-header-item>Link 2</ibm-header-item>
			<ibm-header-item>Link 3</ibm-header-item>
		</ibm-header-menu>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg ibmIconNotification20></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIconUserAvatar20></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIconAppSwitcher20></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
