<div class="row" id="irqq">
    <div class="cell" id="it8t">
      <div class="row">
        <div class="cell" id="width300">
          <div id="ix0se">
            <input ibmText [(ngModel)]="sql"/>
            <button ibmButton="secondary" size="sm" (click)="clickSQL($event)">SQL</button>
            <ibm-tag type="blue">rs={{sqlrs.length}}</ibm-tag>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell" id="iu3x9">
          <div id="id3yi">legend
            <ibm-tag [type]="column['color']" *ngFor='let column of sqlcolumnslegend' (click)='clickLegend(column)'>{{column['name']}}</ibm-tag>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell" id="iqq8k">
          <div id="i9grr">x
            <ibm-tag [type]="column['color']" *ngFor='let column of sqlcolumnsx' (click)='clickX(column)'>{{column['name']}}</ibm-tag>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell" id="iu3x9">
          <div id="id3yi">y
            <ibm-tag [type]="column['color']" *ngFor='let column of sqlcolumnsy' (click)='clickY(column)'>{{column['name']}}</ibm-tag>
          </div>
        </div>
      </div>


    </div>
    <div class="cell" id="ie2y">
      <div class="row">
        <div class="cell" id="height300">

        <!-- <ng-scrollbar> -->
          <div fxLayout="row" fxLayoutAlign="space-between">
            <button ibmButton="secondary" size="sm" (click)='chartclear()'>clear</button>
            &nbsp; <button ibmButton="secondary" size="sm" (click)='chartadddatatest()'>testdata</button>
          </div>
          <div echarts [options]="chartoptions" (chartInit)="chartinit($event)"></div>
          <!-- </ng-scrollbar> -->

        </div>
      </div>

      <div class="row" id="i3tm">
        <div class="cell" id="ib7j">
            
          <hot-table [hotId]="hotId" [settings]="hotSettings" [data]="hotDatas" licenseKey="non-commercial-and-evaluation"></hot-table>
  
        </div>
      </div>

      <div class="row" id="impx1">
        <div class="cell" id="ipj41">
          <ng-scrollbar>
            <ngx-json-viewer [json]="jsonObject" [expanded]="true"></ngx-json-viewer>
          </ng-scrollbar>
        </div>
      </div>
    </div>
  </div>